<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aasana1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style5.css') }}">
</head>
<body>
    <h1>Chaturanga Dandasana</h1>
    <p>In Chaturanga Dandasana the hands and feet are on the floor, supporting the body, which is parallel to and lowered toward, but not touching, the floor. 
       It looks much like a push-up, but with the hands quite low (just above the pelvis), and the elbows kept in along the sides of the body.In vinyasa styles of yoga, 
       Chaturanga Daṇḍasana is part of the Surya Namaskar (Salute to the Sun) asana sequence, performed on an exhalation. In Ashtanga vinyasa yoga's Surya Namaskar A it is the fourth asana, and in Surya Namaskar B it is the fourth, eighth and twelfth asanas</p>
       <h2>Tutorial</h2>
       <iframe width="300" height="300" src="https://www.youtube.com/embed/rTVWSjYAZ2Y?si=2Ot3K5_oJ32n8RZt">
       </iframe>
</html>