<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aasana1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    
</head>
<body> 
    <h1>PranamaSana</h1>
    <p>Pranamasana is a centering asana often used as a routine part of Surya Namaskar or as a transitional pose. 
        While standing, sitting or squatting, the palms press together in front of the heart’s center while allowing the shoulders 
        to roll down the back and the elbows to rest at the sides of the rib cage.Pranamasana is also known as prayer pose in English.
    </p>

    <h2>Tutorial</h2>
    <iframe height="300" width="300" 
      src="https://www.youtube.com/embed/w88tu9pe8x0?si=4KZGnI3ew2x3_8N4" >
    </iframe> 


</body>
</html>
