<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aasana1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style4.css') }}">
</head>
<body>
    <h1>Ashwa Sanchalanasana</h1>
    <p>Ashwa Sanchalasana is a low lunge Pose that prepares your body for deep backbends. Due to its vast range of movements to assist the body,
       it is often considered as the balancing pose.Physically, ashwa sanchalasana is considered an excellent pose for the spine stretching, hip opening, and psoas flexibility. 
       While the psychological effect includes: enhanced concentration, self-confidence, and build the cognitive skills of the practitioners.</p>
       <h2>Tutorial</h2>
       <iframe width="300" height="300" src="https://www.youtube.com/embed/Alx3Cdzpkns?si=tXdIZVp2ix8BbHEt">
       </iframe>
</body>
</html>