<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aasana1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>
<body>
    <h1>Hasta Uttanasana</h1>
    <p>Hasta Uttanasana, or Uttanasana, is a yoga pose in the (Sun Salutation) Surya Namaskar sequences. 
       This pose has a standing backbend, which helps in the full intake of oxygen, which significantly stretches the whole body. 
       The pose is also called a Hand-Raising Pose, Raised Arms Pose, Raised Hands Pose, and Sky Reaching Pose.
    </p>
    <h2>Tutorial</h2>
    <iframe height="300" width="300" 
       src="https://www.youtube.com/embed/OIhO31qKLo4?si=kMTnSplTLvraj_Ne" >
    </iframe> 

</body>
</html>