<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aasana1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style7.css') }}">
</head>
<body>
    <h1>Bhujangasana</h1>
    <p>Bhujangasana (Cobra Stretch) comes from the word bhujanga meaning cobra or snake and asana meaning pose. Bhujangasana is also known as Cobra Stretch. 
       This pose is included in Suryanamaskar (Sun Salutations Pose) as well as Padma Sadhana.Bhujangasana or Cobra Stretch is a solution to solve these and many other problems, just sitting (or lying down) at home! Bhujangasana, the Cobra Pose, is a pose that you do while lying down on your stomach. 
       It gives your body (especially the back), a good stretch that melts your stress away almost instantly!</p>
       <h2>Tutorial</h2>
       <iframe width="300" height="300" src="https://www.youtube.com/embed/fOdrW7nf9gw?si=2LXuogVq2-ShYkJz">
       </iframe>