<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aasana1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style6.css') }}">
</head>
<body>
    <h1>Ashtanga Namaskar</h1>
    <p>Ashtanga Namaskara is a prone posture with eight parts of the body in contact with the ground: 
       both feet, both knees, both hands, the chest, and either the chin or the forehead. 
       The hands are below the shoulders, the elbows bent.</p>
       <h2>Tutorial</h2>
       <iframe width="300" height="300" src="https://www.youtube.com/embed/bmfE1CScmmo?si=mVTslkHIYhFTY714">
       </iframe>

</body>
</html>