<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aasana1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
</head>
<body>
    <h1>Padahastasana</h1>
    <p>Padahastasana is a standing forward fold and one of the 12 basic postures of Hatha yoga. It is also the third pose of surya namaskar, the sun salutation sequence. 
        It is believed to reduce tamas, which means heaviness or inertia in the body.This pose's name comes from the Sanskrit pada which means "foot," hasta meaning "hand" 
        and asana meaning a "seat" or "posture."The English name for padahastasana is gorilla pose or hand under foot pose.</p>
        <h2>Tutorial</h2>
        <iframe width="300" height="300" src="https://www.youtube.com/embed/qqhx3bckcjs?si=0fdqcxaeqwJcrzPe" >
        </iframe>
</body>
</html>