<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aasana1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style8.css') }}">
</head>
<body>
    <h1>Adho Mukha svanasana</h1>
    <p>Downward Dog Pose or Downward-facing Dog Pose, also called Adho Mukha Svanasana,
       is an inversion asana, often practised as part of a flowing sequence of poses, especially Surya Namaskar, the Salute to the Sun.
       The asana is commonly used in modern yoga as exercise. The asana does not have formally named variations, but several playful variants are used to assist beginning practitioners to become comfortable in the pose</p>
       <h2>Tutorial</h2>
       <iframe width="300" height="300" src="https://www.youtube.com/embed/6Ep5VzGqDRU?si=BrTUs2WGUQNdkAaI">
       </iframe>
</html>